@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body{
    font-family: "EB Garamond", serif;
    max-width: 1920px;
    margin: auto;
    background-color: #000;
    color: #FFF;
}

.info__image{
    width: 100%;
    background-image: url('./images/info__image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #FFF;
}

.header__list{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.header__item:hover{
    width: 70px;
    cursor: pointer;
    color: #CDAA7D;
    border-bottom: 1px solid #CDAA7D;
}

.icon{
    width: 24px;
    height: 24px;
    background-color: #FFF;
}
.logo{
    width: 36px;
    height: 36px;
    background-color: #FFF;
}


.info{
    height: 900px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 52px;
}


.quote{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blockquote{
    font-size: 27px;
    text-align: center;
    max-width: 800px;
}

.services{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 2;
}

.services__name{
    font-size: 30px;
}


.companies{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1;
}

.companies__image{
    opacity: 50%;
}

.works{
    margin-top: 100px;
}

.works__title{
    text-align: center;
    font-size: 48px;
}

.works__categories{
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1;
    margin-bottom: 50px;
    font-size: 20px;
}
.works__category:hover{
    width: 70px;
    cursor: pointer;
    color: #CDAA7D;
    border-bottom: 1px solid #CDAA7D;
}


.works__container{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;

}
.works__image{
    max-width: 450px;
}


footer{
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.contacts__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    min-height: 200px;
    flex-direction: column;
}



.contacts__list .contacts__item:first-child{
    font-size: 24px;
    font-weight: 700;
}
.contacts__item {
    font-weight: 400;
    font-size: 18px;
}

.time__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    min-height: 150px;
    flex-direction: column;
}

.time__list .time__item:first-child{
    font-size: 24px;
    font-weight: 700;
}
.time__item{
    font-weight: 400;
    font-size: 18px;
}

.social{
    display: flex;
    flex-direction: column;
}
.social .icon{
    margin-top: 20px;
}
.social__item{
    font-size: 24px;
    font-weight: 700;
}